h1 {
  color: blue;
}

p {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}

.weatherapp {
  margin-top: 30px;
  max-width: 800px;
  margin: 30px auto;
}

.day {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.daytemp {
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}

p.country {
  font-weight: 300;
  font-size: 60px;
}

.maintemp {
  font-weight: 600;
  font-size: 60px;
  text-align: center;
}

.tempunits {
  position: relative;
  font-size: 20px;
  top: -28px;
}

.weather-icon {
  font-size: 24px;
  text-align: center;
}

img {
  border-radius: 50px;
}

.country-info {
  list-style: none;
  font-weight: 300;
  font-size: 14px;
}

.footer {
  font-size: 10pt;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.active {
  color: black;
  cursor: default;
}

.active:hover {
  text-decoration: none;
}

.weather-forecast-temperature-max {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.weather-forecast-temperature-min {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.weather-forecast.img {
  text-align: center;
}

.main-icon {
  position: relative;
  top: -15px;
}
